<div id="<%= dom_id business %>">
  <p>
    <strong>Name:</strong>
    <%= business.name %>
  </p>

  <p>
    <strong>Nit:</strong>
    <%= business.nit %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= business.owner %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= business.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= business.city %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= business.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= business.email %>
  </p>

</div>
