<div class="container">
  <div id="<%= dom_id business %>">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h4 class="card-title">My business</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Name:</strong>
          <%= business.name %>
        </li>
        <li class="list-group-item">
        <strong>Nit:</strong>
        <%= business.nit %>
        </li>
        <li class="list-group-item">
        <strong>Country:</strong>
          <%= business.country %>
        </li>
        <li class="list-group-item">
        <strong>City:</strong>
          <%= business.city %>
        </li>
        <li class="list-group-item">
        <strong>Telephone:</strong>
          <%= business.telephone %>
        </li>
        <li class="list-group-item">
        <strong>Email:</strong>
          <%= business.email %>
        </li>
        <li class="list-group-item">
        <strong>Telephone:</strong>
          <%= business.telephone %>
        </li>
        <li class="list-group-item">
        <strong>User:</strong>
          <%= business.user_id %>
        </li>
      </ul>
      <div class="card-footer">
        <% if current_user.business.id.nil? %>
          <%= link_to "New business", new_business_path, class:"btn btn-primary" %>
        <% else %>
          <%= link_to "Edit business", edit_business_path(business), class:"btn btn-primary" %> 
        <% end %>
      </div>
    </div>
  </div>
</div>