<div class="container">
  <div class="card col-lg-4">
    <div class="card-header">
      Datos del Negocio
    </div>
    <div class="card-body">
      <%= form_with(model: business) do |form| %>
      <% if business.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

          <ul>
            <% business.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row mb-3">
        <%= form.label :name, "Nombre", style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :name, class:"form-control", placeholder:"Nombre" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :nit, "NIT", style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :nit, class:"form-control", placeholder:"NIT" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :country, "País", style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :country, class:"form-control", placeholder:"Pais" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :city, "Ciudad", style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :city, class:"form-control", placeholder:"Ciudad" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :telephone, "Teléfono" , style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :telephone, class:"form-control", placeholder:"Teléfono" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :email, "E-mail", style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :email, class:"form-control", placeholder:"E-mail" %>
        </div>
      </div>

      <div>
        <%= form.submit "Guardar", class:"btn btn-primary" %>
      </div>
    <% end %>    
    </div>
  </div>
</div>