<div class="card col-lg-4">
  <div class="card-header">
    Datos del Negocio
  </div>
  <div class="card-body">
    <%= form_with(model: business) do |form| %>
    <% if business.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

        <ul>
          <% business.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-3">
      <%= form.label :name, style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :name, class:"form-control", placeholder:"Nombre" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :nit, style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :nit, class:"form-control", placeholder:"NIT" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :country, style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :country, class:"form-control", placeholder:"Pais" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :city, style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :city, class:"form-control", placeholder:"Ciudad" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :telephone, style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :telephone, class:"form-control", placeholder:"Teléfono" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :email, style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :email, class:"form-control", placeholder:"e-mail" %>
      </div>
    </div>

     <div class="row mb-3">
      <%= form.label :business_id, style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :business_id, class:"form-control", placeholder:"business_id" %>
      </div>
    </div>

    <div>
      <%= form.submit class:"btn btn-primary" %>
    </div>
  <% end %>    
  </div>
</div>
