<div id="<%= dom_id catalog %>">
  <p>
    <strong>Reference:</strong>
    <%= catalog.reference %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= catalog.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= catalog.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= catalog.price %>
  </p>

  <p>
    <strong>Actived:</strong>
    <%= catalog.actived %>
  </p>

</div>
