<div class="card col-lg-4">
  <div class="card-header">
    Datos del producto o servicio
  </div>
  <div class="card-body">
    <%= form_with(model: catalog) do |form| %>
    <% if catalog.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(catalog.errors.count, "error") %> prohibited this catalog from being saved:</h2>

        <ul>
          <% catalog.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-3">
      <%= form.label :reference, "Referencia", style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :reference, class:"form-control", placeholder:"Referencia" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :name, "Nombre", style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :name, class:"form-control", placeholder:"Nombre del producto" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :description, "Descripción", style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_area :description, class:"form-control", placeholder:"Nombre del producto" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :price, "Precio", style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.number_field :price, class:"form-control", placeholder:"Precio" %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :actived, "Activo", style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.check_box :actived %>
      </div>
    </div>

    <div>
      <%= form.submit class:"btn btn-primary" %>
    </div>
  <% end %>    
  </div>
</div>

