<%= form_with(model: catalog) do |form| %>
  <% if catalog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(catalog.errors.count, "error") %> prohibited this catalog from being saved:</h2>

      <ul>
        <% catalog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :reference,   :class=>"form-label" %>
    <%= form.text_field :reference,  :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name, :class=>"form-label" %>
    <%= form.text_field :name,  :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, :class=>"form-label" %>
    <%= form.text_area :description,  :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price, :class=>"form-label" %>
    <%= form.number_field :price,  :class=>"form-control" %>
  </div>

  <div class="btn-group">
    <%= form.label :actived, :class=>"form-label" %>
    <%= form.check_box :actived,  :class=>"btn-check" %>
  </div>

    <ul class="list-inline">
    <li> <%= form.submit "Registrar", :class=>"btn btn-success" %></li>
    <li><%= button_tag "Limpiar", type: :reset, :class=>"btn btn-danger" %></li>
  </ul>
<% end %>
