    <%= render "layouts/sidenav" %>
    <body class="sb-nav-fixed">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Serenity</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Factura</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <%= link_to "Crear nueva factura", new_invoice_path, class: "small text-white stretched-link" %>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Cliente</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <%= link_to "Agregar nuevo cliente", new_customer_path, class: "small text-white stretched-link" %>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Productos</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <%= link_to "Agregar nuevo producto", new_product_path, class: "small text-white stretched-link" %>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Deducciones</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <%= link_to "Registrar nueva deducción", new_deduction_path, class: "small text-white stretched-link" %>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <%= render "layouts/footer" %>
        </div>
    </body>
</html>
