
<div class="card col-4">
  <div class="card-body p-4 p-sm-5">
  <div class="row flex-between-center mb-2">
  <div class="col-auto"><h5>Registrar Usuario</h5></div>
    <section data-dashlane-rid="fa3f30e7db01eedc" data-form-type="sing up">
        <p class="col-auto">*Por favor llena los campos correspondientes<br>
        </p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="mb-3"><br>
          <%= f.label :email, "Correo electronico", class:"col-auto" %><br />
             <%= f.email_field :email, autofocus: true, autocomplete: "correo electronico", class:"form-control" %>
        </div>
        <div class="mb-3"><br>
              <%= f.label :password, "Contraseña", class:"col-auto" %>
              <% if @minimum_password_length %>
              <em>(Ingrese minimo <%= @minimum_password_length %> caracteres)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "contraseña actual", class:"form-control" %>
        </div>
        <div class="mb-3"><br>
          <%= f.label :password_confirmation, "Confirmar contraseña", class:"col-auto" %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        </div>
        <div class="actions">
              <%= f.submit "Registrar", class:"btn btn-primary d-block w-100 mt-3" %>
        </div>
        <% end %>

        <%= link_to "Iniciar sesion", user_session_path, method: :get, class:"col-auto fs--1 text-600 mb-0 undefined" %>
    </section>

    </div>
</div>
