

<div class="container col-lg-3 center-block">
<div class="shadow mt-5 mb-4">
<div class="card">
  <div class="card-header">
    <h3>búsqueda</h3>
  </div>
  <div class="card-body">
      <%= form_with url: "/invoices/new", method: :get do |form| %>
      <div class="col-sm-11">
        <%= form.label :query, "Cliente:", class:"col-sm-3 col-form-label" %>
      </div>
      <div class="mb-3 lg-6">
        <%= form.text_field :query,  class: 'form-control', placeholder: "Nombre completo ó dni" %>
      </div>
      <div class=" ms-10 mb-5 lg-5">
         <%= form.submit "Buscar", class: 'd-inline float-end btn btn-primary d-inline '  %>
         <%= form.submit "Crear factura", class:"btn btn-primary" %>
      </div>
      <% end %>
      <div>
        <div>
          <%= form_with(model: @invoice) do |form| %>
            <%= form.hidden_field :date, value:@time_now %>
            <%= form.hidden_field:amount %>
            <%if @custom_data%>
            <%= form.collection_select :customer_id, @custom_data, :id, :full_name %>
            <% end %>
            <%#= form.hidden_field :customer_id, value: @custom_id %>
        </div>   
      </div>
      <div class="ms-2 mb-3">
          
      </div>
      <% end %>
  </div>
  <%= link_to "Ver facturas", invoices_path, class:"btn btn-outline-secondary" %>
  </div>
</div>
</div>