<div class="container">
  <div class="row">
  
   <% if !@custom_data.present? %>
    <div class="col col-6">
      <%= form_with url: "/invoices", method: :get do |form| %>
      <div class=row>
      <div class="col col-6" >
      <%= form.text_field :query,  class: 'form-control', placeholder: "Nombre completo รณ dni" %>
      </div>
      <div class="col col-2">
        <%= form.submit "Buscar", class: 'btn btn-primary  btn-sm '  %>
      </div>
    </div>
    <% end %>


  <% else %>  
    <div class="col col-6">
      <%= form_with url: "/invoices", method: :get do |form| %>
            <%if @custom_data%>
                <%= form.collection_select :customer_id, @custom_data, :id, :full_name ,{:prompt => 'Selecciona ...'}, html_options = { class: 'form-control'} %>
                <%= form.submit "ver facturas", class:"btn btn-primary btn-sm d-line float-start" %>
            <% end %>
        <% end %>
       
    </div>
  <% end %>  
  </div>
  <div>
</div>
<div class="container">
  <div class="row">
    <div class="column">
      <% if @invoices.present?%>
       <div><strong> cliente : <%= @customer %></strong></div>
        <table class="table">
          <tr>
            <th>No.</th><th>Monto</th><th>Fecha </th><th>Abono </th><th>Adeuda </th><th>Pagar</th>
          </tr>
            <% @invoices.each do |invoice|%>
              <tr>
                  <td><%= invoice.id %></td><td><%= number_to_currency(invoice.amount) %></td><td><%= invoice.date %> </td>
                  <td><%= number_to_currency(invoice.payments.sum(:value)) %> </td><td><%= number_to_currency(invoice.amount - invoice.payments.sum(:value)) %> 
              </td><td><%= link_to "Abonar", invoice_order_items_path(invoice)%></td>   
              </tr>
              <% end %>
        </table>
        <% end %>

    </div>
  </div>
</div>

