 <%= render "layouts/sidenav" %>
 <div id="invoices">
  <%= render "form_search"%>


  <%if @custom_data%>

  <% @custom_data.each do |c|%>
    <%@custom_id=c.id%>
    <p><strong><%= c.full_name%></strong></p>
    <% end%>
  <% end %>



  <%= form_with(model: @invoice) do |form| %>
  
      <%= form.hidden_field :date, value:@time_now %>
      <%= form.hidden_field:amount %>
      <%= form.hidden_field :customer_id, value: @custom_id %>

    <div>
      <%= form.submit %>
      <br>
  
    </div>
  <% end %>
  <br>

  <div>
      <%= link_to "Back to invoices", invoices_path %>
  </div>
  </div>
</div>