 <%= render "layouts/sidenav" %>
  <div id="invoices">
    <%= render "form_search"%>
    
    <%= form_with(model: @invoice) do |form| %>
      <%= form.hidden_field :date, value:@time_now %>
      <%= form.hidden_field:amount %>
      <%if @custom_data%>
        <%= form.collection_select :customer_id, @custom_data.order(:full_name), :id, :full_name %>
      <% end %>
    <% end %>
    <div>
      <%= link_to "Regresar a facturas", invoices_path %>
    </div>
  </div>
