<div id="<%= dom_id deduction %>">
  <p>
    <strong>Date:</strong>
    <%= deduction.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= deduction.amount %>
  </p>

  <p>
    <strong>Stylist:</strong>
    <%= deduction.stylist_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= deduction.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= deduction.status %>
  </p>

</div>
