<div id="deductions">
  <p style="color: green"><%= notice %></p>

  <%= render @deduction %>

  <div>
    <% if can? :cru, @deduction %>
      <%= link_to "Edit this deduction", edit_deduction_path(@deduction) %> |
    <% end %>
    <%= link_to "Back to deductions", deductions_path %>

    <% if can? :destroy, @deduction %>
      <%= button_to "Destroy this deduction", @deduction, method: :delete %>
    <% end %>
  </div>
</div>
