<div id="<%= dom_id customer %>">
  <p>
    <strong>Dni:</strong>
    <%= customer.dni %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= customer.full_name %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= customer.telephone %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= customer.birthday %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Business:</strong>
    <%= customer.business_id %>
  </p>

</div>
