<div id="<%= dom_id customer %>">
  <p>
    <strong>DNI:</strong>
    <%= customer.dni %>
  </p>

  <p>
    <strong>Nombre completa:</strong>
    <%= customer.full_name %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= customer.telephone %>
  </p>

  <p>
    <strong>Fecha de nacimiento:</strong>
    <%= customer.birthday %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Negocio:</strong>
    <%= customer.business_id %>
  </p>

</div>
