<div class="card col-lg-4">
  <div class="card-header">
    Datos del cliente
  </div>
  <div class="card-body">
<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row mb-3">
      <%= form.label :dni, style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :dni, class:"form-control", placeholder:"identificación " %>
      </div>
    </div>
    <div class="row mb-3">
      <%= form.label :nombre, style: "display: block", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :full_name, class:"form-control", placeholder:"Nombre completo" %>
      </div>
    </div>
  <div class="row mb-3">
    <%= form.label :teléfono, style: "display: block", class:"col-sm-3 col-form-label" %>
  <div class="col-sm-9">
    <%= form.text_field :telephone, class:"form-control", placeholder:"1234567890" %>
  </div>
</div>
  <div class="row mb-3">
    <%= form.label :año, style: "display: block", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
    <%= form.text_field :birthday, class:"form-control",  placeholder:"dd/mm" %>
  </div>
</div>
  <div class="row mb-3">
    <%= form.label :email, style: "display: block", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
    <%= form.text_field :email, class:"form-control", placeholder:"@" %>
  </div>
</div>
  <div>
    <%= form.submit "Guardar",class:"btn btn-primary d-inline"%>
    <%= link_to "Cancelar", customers_path, class:"btn btn-warning d-inline float-end" %>
  </div>
<% end %>
