<div id="<%= dom_id stylist %>">
  <p>
    <strong>Dni:</strong>
    <%= stylist.dni %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= stylist.name %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= stylist.telephone %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= stylist.role %>
  </p>

  <p>
    <strong>Actived:</strong>
    <%= stylist.actived %>
  </p>

</div>
