<div id="<%= dom_id stylist %>">
  <p>
    <strong>DNI:</strong>
    <%= stylist.dni %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= stylist.name %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= stylist.telephone %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= stylist.role %>
  </p>

  <p>
    <strong>Activo:</strong>
    <%= stylist.actived %>
  </p>

</div>
