<div id="stylists">
  <p style="color: green"><%= notice %></p>

  <%= render @stylist %>

  <div>
  <% if can? :cru, @stylist %>
    <%= link_to "Edit this stylist", edit_stylist_path(@stylist) %> |
  <% end %>
    <%= link_to "Back to stylists", stylists_path %>

  <% if can? :destroy, @stylist %>
    <%= button_to "Destroy this stylist", @stylist, method: :delete %>
  <% end %>
  </div>
</div>
