<div id="<%= dom_id payment %>">
  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= payment.invoice_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= payment.value %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= payment.type %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= payment.note %>
  </p>

</div>
