<div class="card col-lg-8 justify-content-center">
  <div class="card-header">
   Buscar producto
  </div>
  <div class="card-body">
<%= form_with url: new_invoice_order_item_path(@invoice), method: :get do |form|  %>
<div class="row mb-3">
  <%= form.label :query, "Producto:", class:"col-sm-3 col-form-label" %>
  <%= form.text_field :query,  class: 'form-control ', placeholder: "Nombre o Referencia" %>
  <%= form.submit "Search", class: 'btn btn-primary d-inline'  %>
<% end %>
</div>

  <%if @product_data %>
    <% @product_data.each do |p|%>
      <% @product_id = p.id %>
      <span class="badge text-bg-info"><%= p.name %></span>
    <% end %>
  <% end %>
  </div> 
</div>
