<div id="<%= dom_id order_item %>">
  <p>
    <strong>Cantidad:</strong>
    <%= order_item.quantity %>
  </p>

  <p>
    <strong>Ajuste:</strong>
    <%= order_item.adjustment %>
  </p>

  <p>
    <strong>Estilista:</strong>
    <%= order_item.stylist_id %>
  </p>

  <p>
    <strong>Factura:</strong>
    <%= order_item.invoice_id %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= order_item.product_id %>
  </p>

</div>
