<div id="<%= dom_id order_item %>">
  <p>
    <strong>Quantity:</strong>
    <%= order_item.quantity %>
  </p>

  <p>
    <strong>Adjustment:</strong>
    <%= order_item.adjustment %>
  </p>

  <p>
    <strong>Stylist:</strong>
    <%= order_item.stylist_id %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= order_item.invoice_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order_item.product_id %>
  </p>

</div>
