
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card border border-white">
          <div class="header">
            <h2 class="text-center"> <strong><%= @invoice.customer.business.name%></strong></h2>
          </div>
          <div class="ps-4">
            <h5>Factura: <strong><%= @invoice.id%></strong></h5>
            <h5>Fecha: <strong><%= @invoice.date%></strong></h5>
            <h5>Cliente: <strong><%= @invoice.customer.full_name %></strong></h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad </th>
                        <th scope="col">Precio</th>
                        <th scope="col">Ajuste</th>
                        <th scope="col">Estilista</th>
                        <th scope="col">Opciones</th>
                      </tr>
                <tbody>
                    <div id="order_items">
                      <% @order_items.each do |item| %>
                      <tr>
                        <td><%=item.product.reference %></td>
                        <td><%=item.quantity%></td>
                        <td><%=number_to_currency(item.product.price)%></td>
                        <td><%=number_to_currency(item.adjustment)%></td>
                        <td><%=item.stylist.name%></td>
                        <td>
                        <button type="button" class="btn btn-info">
                          <%= link_to '', edit_invoice_order_item_path(@invoice, item), class:"bi bi-pen text-white" %>
				                </button>
                        <button type="button" class="btn btn-danger">
                                <%= link_to "", invoice_order_item_path(@invoice, item),  data: {turbo_method: :delete, 
                                  turbo_confirm: "Are you sure?" }, class:"bi bi-trash text-white" %>  
                        </button>
                        </td>
                      </tr>
                      <% end %>
                      <tr>
                        <td> <strong>Subtotal</strong></td>
                        <td><strong><%= number_to_currency(@sub_total) %></strong></td>
                      </tr>
                    </div>
                </tbody>
              </table>
              <div class="d-flex">
                    <%= link_to "Agregar Producto/Servicio",new_invoice_order_item_path, class:"btn btn-primary me-2" %>
                    <%= link_to "Volver a facturas",invoices_path, class:"btn btn-secondary me-2"%>
                    <%= link_to 'Pagar', new_invoice_payment_path(@invoice), class:"btn btn-success me-2" %>
                    <%= button_to "Eliminar", @invoice, class:"btn btn-danger", method: :delete %>
                  <%# link_to 'Destroy item', [@invoice, order_item], class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
