<%= render "layouts/sidenav" %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
          <div class="header">
            <h2 class="text-center"> <strong><%= @invoice.customer.business.name%></strong></h2>
          </div>
          <h3>Factura :<strong><%= @invoice.id%></strong></h3>
          <h3>Fecha :<strong><%= @invoice.date%></strong></h3>
          <h3>Cliente :<strong><%= @invoice.customer.full_name %></strong></h3>
          <strong>Articulos</strong>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad </th>
                        <th scope="col">Precio</th>
                        <th scope="col"> Ajuste</th>
                        <th scope="col">Estilista</th>
                        <th scope="col">Opciones</th>
                      </tr>
                <tbody>
                    <div id="order_items">
                      <% @order_items.each do |item| %>
                      <tr>
                        <td><%=item.product.reference %></td>
                        <td><%=item.quantity%></td>
                        <td><%=item.product.price%></td>
                        <td><%=item.adjustment%></td>
                        <td><%=item.stylist.name%></td>
                        <td>
                        <button type="button" class="btn btn-info">
                          <%= link_to '', edit_invoice_order_item_path(@invoice, item), class:"bi bi-pen text-white" %>
				                </button>
                        <button type="button" class="btn btn-danger">
                                <%= link_to "", invoice_order_item_path(@invoice, item),  data: {turbo_method: :delete, 
                                  turbo_confirm: "Are you sure?" }, class:"bi bi-trash text-white" %>  
                        </button>
                        </td>
                      </tr>
                      <% end %>
                      <tr>
                        <td> <strong>Subtotal</strong></td>
                        <td><strong><%= @sub_total %></strong></td>
                      </tr>
                    </div>
                </tbody>
              </table>
              <div>
                <%= link_to "Agregar item",new_invoice_order_item_path, class:"btn btn-primary" %>
                  <%= link_to "Back to invoices",invoices_path, class:"btn btn-secondary"%>
                  <%= link_to 'Pago', new_invoice_payment_path(@invoice), class:"btn btn-secondary" %>
                  <%= button_to "Destroy", @invoice, class:"btn btn-danger", method: :delete %>
                  <%# link_to 'Destroy item', [@invoice, order_item], method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>