<div class="container">
  <div class="card col-lg-4">
    <div class="card-header">
      Productos y servicios
    </div>
    <div class="card-body">
      <%= form_with(model: product) do |form| %>
      <% if product.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row mb-3">
        <%= form.label :reference, style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :reference, class:"form-control", placeholder:"Referencia" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :name, style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_field :name, class:"form-control", placeholder:"Nombre" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :description, style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.text_area :description, class:"form-control", placeholder:"Descripción" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :price, style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.number_field :price, min: 0, step: 1_000, class:"form-control", placeholder:"Precio" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :actived, style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.check_box :actived %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :cannon, style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.number_field :cannon, min: 0, max: 1,  step: 0.1, class:"form-control", placeholder:"Canon" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :category_id, style: "display: block", class:"col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= form.select :category_id, ([['Productos', 1], ['Servicios', 2]]), {}, { :class => 'form-select' } %>
        </div>
      </div>

      <div>
        <%= form.submit class:"btn btn-primary" %>
        <%= link_to "Back to products", products_path, class:"btn btn-outline-secondary" %>
      </div>
    <% end %>    
    </div>
  </div>
</div>
