<div class="container">
  <%= form_with url: "/reports/comissions", method: :get do |form| %>
      <%= form.label :start_day, "de:" %>
      <%= form.date_field :start_date, value: Time.zone.today  %>
      <%= form.label :end_day, "a:" %>
      <%= form.date_field :end_date, value: Time.zone.today  %>
    <%= form.submit "Search" %>
  <% end %>


<% if @final_list.present?%>

<% @final_list.each do |invoice, value|%>
    <%value.each do |stylist, com| %>

  <p> <strong> Factura :<%= invoice %> Estilista:<%= stylist %>  comision:<%= com[1] %></strong></p>
  <% end %>
  <% end %>
<% end %>

</div>

<div class="container">
<h2> comision </h2>
<% @key_list.each do |stylist, value| %>
  <p> <strong>Estilista:<%= stylist %>  comision:<%= value %></strong></p>
 <% end %> 
</div>
  

