<div class="container">
  <div class="row border border-white">
    <div class="col-lg-6 grid-margin stretch-card ps-3 border border-white">
        <div class="card mt-4 border border-2">
          <div class="card border border-white ps-2">
          <h3 class="text-center py-3">Comisiones</h3>
            <div class="text-center mb-2">
              <%= form_with url: "/reports/comissions", method: :get do |form| %>
                  <%= form.label :start_day, "De:" %>
                  <%= form.date_field :start_date, value: Time.zone.today  %>
                  <%= form.label :end_day, "a:" %>
                  <%= form.date_field :end_date, value: Time.zone.today  %>
            </div>
            <div class="d-grid mb-3">
                <%= form.submit "Search", class:"btn btn-primary" %>
            </div>
            <% end %>
            <% if @final_list.present?%>
            <table class="table">
                <tr  class="h5">
                  <th class="ps-5">Factura</th>

                  <th class="pe-5">comision</th>

              </tr>
              <% @final_list.each do |invoice, value|%>
                  <%value.each do |stylist, com| %>
              <tr>
                  <th class="ps-5" scope="row"><%= invoice %></th>

                  <th class="pe-5"><h6><%=  number_to_currency(com[1]) %></h6></th>

                </tr>
                <% end %>
                <% end %>
              <% end %>
              </div>
              
            </table>
          </div>
        </div>
    </div>
    <div class="col">
    
        <table class="table">
        <% if @key_list %>
        <h3 class="text-center">Estilistas</h3>
        <% @key_list.each do |stylist, value| %>
          <tr>
            <td class="ps-5 h5"><strong>Estilista: </strong><%= stylist %></td> 
            <td class="pe-5"><strong>Total: </strong><%=  number_to_currency(value) %></h4></td>
          </tr>
          <% end %>
        <% end %> 
        </table>
    </div>
  </div>
</div>
