<div class=container>
  <div class=row>
    <div class=col>

      
      <table class="table">
      <tr>
      <th>No.factura</th><th>cliente</th><th>monto</th><th>Estado</th>
      </tr>
      <% @report_daily.each do |column|%>
        <tr>
      <th><%=column.id %></th><th><%= column.customer.full_name %></th>
      <th><%=  number_to_currency(column.amount) %></th>
      <th> <%= column.status %> </th>
     
      </tr>
      <% end %>
      </table>
    </div>
   <div class="col">
        
    <table class="table">
        <tr>
          <th style="background: green">Liquidado</th><th style="background: yellow">Parcial</th><th style="background: red">Pendiente</th>
        </tr>
        <tr>
          <th ><%=@report_daily.paid_invoice.count%></th>
          <th ><%=@report_daily.partial_invoice.count%></th>
          <th ><%=@report_daily.pending_invoice.count%></th>
        </tr>
        <tr>
          <th><%= number_to_currency(@report_daily.paid_invoice.sum(:amount))%></th>
          <th><%= number_to_currency(@report_daily.partial_invoice.sum(:amount))%></th>
          <th><%= number_to_currency(@report_daily.pending_invoice.sum(:amount))%></th>
        </tr>
    
        </table>
        <h3> caja </h3>
        <table>
          <tr>
          <th>Efectivo : <%= number_to_currency(@payment_cash) %></th>
          <th>Tarjeta : <%= number_to_currency(@payment_card) %></th>
          </tr>
        </table>
    </div>
  </div>
</div>