<div class="container">
<div>
<h3>ventas de hoy </h3>
<%=@sales%>


</div>

<div>
<h3>ventas del mes </h3>
<%= @sales_monthly%>
</div>
<div>
<%@data.each do |key, value | %>
  <p> <strong><%= key %>: <%= value[0] %>: ganancia: <%= value[1] %></strong> </p>
<%end%>
</div>
</div>