
<div class="container">
  <div class="row">
  <div class="text-center mb-2">
    <%=form_with url: "/reports/weekly", method: :get do |form| %>
    <%= form.label :start_day, "de:" %>
    <%= form.date_field :start_date, value: Time.zone.today  %>
    <%= form.label :end_day, "a:" %>
    <%= form.date_field :end_date, value: Time.zone.today%>
    <%= form.submit "Buscar", class:"btn btn-primary"%>
</div>
<% end %>

  </div>
  <div class="row border border-white">
    <div class="col-lg-6 grid-margin stretch-card ps-3 border border-white">
        <div class="mt-4 ">
         <div class="card border border-white ps-2">
              
            
            <%if @list.present?%>
            <div class='row'>
            
              <p> <%= params[:start_day]%>-</p>
            </div>
            <table class="table">
              <tr  class="h5">
                <th>No.factura</th>
                <th>Cliente</th>
                <th>Monto</th>
                <th>Recordatorio</th>
              </tr>
              <%@tot=0%>
              <%@list.each do |invoice|%>
                <%@tot += invoice.amount%>
              <tr>
                <th scope="row"><%= invoice.id %></th>
                <th><h6><%= invoice.customer.full_name %></h6></th>
                <th><h6><%= number_to_currency(invoice.amount) %></h6></th>
                <th><h6><strong><%= invoice.customer.telephone %>/<strong><%= invoice.customer.email %></strong></h6></th>
              </tr>
            <% end %>
            <tfoot class="float-right">
              <td></td>
              <td></td>
              <td><h4 class="float-right"> Total: <%= number_to_currency(@tot) %></h4></td>
            </table>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
       <h3>Cartera</h3> 
      <% if @list.present?%>
       <table class="table">
          <tr>
            <th style="background: green">Liquidado</th><th style="background: yellow">Parcial</th><th style="background: red">Pendiente</th>
          </tr>
          <tr>
            <th ><%=@list.paid_invoice.count%></th>
            <th ><%=@list.partial_invoice.count%></th>
            <th ><%=@list.pending_invoice.count%></th>
          </tr>
          <tr>
            <th><%= number_to_currency(@list.paid_invoice.sum(:amount))%></th>
            <th><%= number_to_currency(@list.partial_invoice.sum(:amount))%></th>
            <th><%= number_to_currency(@list.pending_invoice.sum(:amount))%></th>
          </tr>
          <table>
         <% end %> 
      </div>
  </div>
</div>
